# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Local databases
api_academia.db

instance/
*.db
*.sqlite

# Environment variables & secrets
.env
.flaskenv

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/
env/
ActiveState.venv/
